@model TestProj.Models.IndexViewModel
@{
    ViewBag.Title = null;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<ul class="nav nav-tabs">
    <li><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    @if (Model.IsAdmin || Model.IsReport1)
    {
        <li class="active"><a href="#report1" aria-controls="report1" role="tab" data-toggle="tab">Report1</a></li>
    }
    @if (Model.IsAdmin || Model.IsReport2)
    {
        <li><a href="#report2" aria-controls="report2" role="tab" data-toggle="tab">Report2</a></li>
    }
    @if (Model.IsAdmin)
    {
        <li><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
    }

</ul>


<!-- Tab panes -->
<div class="tab-content">
    @if (Model.IsReport1 || Model.IsAdmin)
    {
        <div class="tab-pane active" id="report1">
            <br>
            <form method="get">
                <div class="form-inline">
                    <label class="control-label">Откуда: </label>
                    @Html.DropDownList("from", Model.Cities as SelectList,
                                htmlAttributes: new { @class = "form-control" })

                    <label class="control-label">Куда: </label>
                    @Html.DropDownList("to", Model.Cities as SelectList,
                            htmlAttributes: new { @class = "form-control" })

                    <input type="submit" value="Фильтр" class="btn btn-default" />
                </div>
            </form>

            @Html.ActionLink("Добавить новый", "CreateNewPlan")
            @Html.Partial("Report1", Model.Report1)
        </div>
    }

    @if (Model.IsReport2 || Model.IsAdmin)
    {
        <div class="tab-pane" id="report2">
            <div>
                @Html.Partial("Report2", Model.Report2)
            </div>
        </div>
    }

    @if (Model.IsAdmin)
    {
        <div class="tab-pane" id="users">
            @Html.Partial("UsersList", Model.Users)
        </div>
    }

    <div class="tab-pane" id="settings">
        <div>
            <h4>Изменение параметров учетной записи</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Пароль:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Смена пароля", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Создать", "SetPassword")
                    }
                    ]
                </dd>
                <dt>Внешние имена входа:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Управление", "ManageLogins") ]
                </dd>
                @*
                    Номера телефонов можно использовать в качестве второго проверочного фактора для системы двухфакторной проверки подлинности.

                     В <a href="https://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                        можно узнать, как настроить для этого приложения ASP.NET двухфакторную проверку подлинности с использованием SMS.

                     Настроив двухфакторную проверку подлинности, раскомментируйте следующий блок
                *@
                @*
                    <dt>Номер телефона:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Удалить" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                *@
                <dt>Двухфакторная проверка подлинности:</dt>
                <dd>
                    <p>
                        Поставщики двухфакторной проверки подлинности не настроены.В<a href="https://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                        можно узнать, как настроить двухфакторную проверку подлинности для этого приложения ASP.NET.
                    </p>
                    @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Включено
                                <input type="submit" value="Отключить" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Отключено
                                <input type="submit" value="Включить" class="btn btn-link" />
                                </text>
                            }
                        }*@
                </dd>
            </dl>
        </div>
    </div>
</div>


