@model List<TestProj.Models.ViewModels.UserForListViewModel>

@using (Html.BeginForm("UsersList", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    var i = 0;
    <table class="table">
        <tr>
            <th></th>
            <th>UserName</th>
            <th>Report1</th>
            <th>Report2</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.HiddenFor(x => x[i].Id)</td>
                <td>@Html.DisplayFor(x => x[i].UserName)</td>
                <td>@Html.CheckBoxFor(x => x[i].Report1)</td>
                <td>@Html.CheckBoxFor(x => x[i].Report2)</td>
            </tr>
            i++;
        }
     </table>
     <input type="submit" value="Сохранить" />
}


